*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

:root{
  --c1: rgb(224, 222, 224);
  --c2: rgb(217, 201, 219);
  --c3: rgb(71, 4, 73);
  --c4: rgb(81, 23, 99);
  --t1: rgba(255, 255, 255, 0.5);
  --t2: rgba(0, 0, 0, 0.5);
}